# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Python / Jupyter
# -------------------------
__pycache__/
*.pyc
.ipynb_checkpoints/

# -------------------------
# Data files (avoid large/raw data)
# -------------------------
data/raw/
*.zip
*.tar.gz

# -------------------------
# Environment / secrets
# -------------------------
.env
*.env

# -------------------------
# Power BI
# -------------------------
*.pbix~
*.pbit~
