# ================================
# Database / local environment
# ================================
*.db
*.sqlite
*.sqlite3

# ================================
# DBeaver files
# ================================
.dbeaver/
*.bak

# ================================
# OS files
# ================================
.DS_Store
Thumbs.db

# ================================
# Logs
# ================================
*.log

# ================================
# Environment variables
# ================================
.env